@import url('https://fonts.googleapis.com/css?family=Mali:400,600|Niramit:400,600|Open+Sans:400,600&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Roboto&subset=latin-ext');
@import './boxy.css';
@import './queries.css';

/* font-family: 'Mali', cursive;
font-family: 'Niramit', sans-serif;
font-family: 'Open Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif;*/


body,html{
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./img/back.jpeg);
    background-repeat: repeat;
}
.wrapper{
    padding: 0.2em;
    height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
}
a{
    text-decoration: none;
}
h3,h4{
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    font-family: 'Montserrat Alternates', sans-serif;
}
h3{
    font-size: 1em;
    text-transform: uppercase;
    /* margin-top: 5px; */
}
h4{
    font-size: 1em;
    /* margin-top: 5px; */
}
p{
    color: #fff;
    font-size: 0.65em;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    /* margin: 0 auto; */
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}
.paddingx{
    padding: 0.2em;
    margin: 5px;
}
.padding10{
    padding: 0 0.4em;
}


/* boxy #top */
#top{
    margin: 0.5em auto 1em;
}
#mid{
    margin: 0.5em auto 1em;
}
.wrapper-mid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 5px;
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4));
    border-radius: 5px;
    overflow: hidden;
}

/* style środkowej sekcji */
.portf-title-container{
    display: flex;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
    height: 20%;
    width: 100%;
    margin: 2px auto;
}
.portf-image-container{
    display: flex;
    width: 40%;
    height: 80%;
    border-bottom-left-radius: 5px;
}
.portf-content{
    display: flex;
    justify-content: center;
    /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)); */
    width: 60%;
    border-bottom-right-radius: 5px;
    border-radius: 5px;
}

/* reszta divów środkowej sekcji */
/* PORTFOLIO CONTENT DIV */
.content-div article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.content-div article span{
    font-size: 1.2em;
    font-weight: 400;
    margin: 2px;
    font-family: 'Niramit', sans-serif;
}
.art-div{
    margin: 5px;
}
.art-second{
    color: #fff;
}
.art-content p{
    font-family: 'Niramit', sans-serif;
    font-size: 0.9em;
    text-align: center;
    color: #000;
}

/* PORTF TITLE CONTEINER */
.portf-span{
    font-size: 1.2em;
    color: #fff;
    font-family: 'Niramit', sans-serif;
}
.title-first{
    color: #000;
}
.inner-box{
    margin: 10px 0;
}


/* ustawianie maski na ikonach */
.mask{
    position: absolute;
    height: 65%;
    width: 96.7%;
    background: rgba(32, 81, 121, 0.6);
    opacity: 0;
    top: 2%;
    left: 1.6%;
    right: 0;
    bottom: 0;
    display: flex;
    transition: all .4s;
    z-index: 10;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.mask, .content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.mask, .content, .content-p{
    line-height: 1;
    /* padding: 0 0 3px 0; */
    margin: 0;
    color: #fff;
}

.boxy:hover .mask{
    opacity: 1;
}
.boxy:hover i{
    transform: scale(1.2);
}
/* koniec maski */

.box4, .footer, .para:hover{
    color: #333;
}