@import url('https://fonts.googleapis.com/css?family=Mali:400,600|Niramit:400,600|Open+Sans:400,600&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Roboto&subset=latin-ext');

/* font-family: 'Mali', cursive;
font-family: 'Niramit', sans-serif;
font-family: 'Open Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif;*/


body,html{
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./img/back.jpeg);
}
.wrapper{
    padding: 20px;
}
a{
    text-decoration: none;
}
h3,h4{
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 2;
    font-family: 'Montserrat Alternates', sans-serif;
}
h3{
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 5px;
}
h4{
    font-size: 1em;
    margin-top: 5px;
}
p{
    color: #fff;
    font-size: 0.65em;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
/* #navbar{
    width: 100%;
    text-align: right;
    background-color: black;
    color: #fff;
    width: 90%;
}
#navbar ul{
    list-style: none;
}
#navbar ul li{
    padding: 0.7em;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
}
#navbar ul li:last-child{
    margin-right: 20px;
} */

/* boxy #top */
#top{
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: red;  */
    height: 40vh;
    display: flex;
}
.boxy{
    width: 25%;
    margin: auto auto;
    height: 50%;
    position: relative;
    background-color: rgba(255,255,255,0.3);
    border: 2px solid #aaa;
    border-radius: 5px;
    height: 85%;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    padding: 5px;
}


.box11, .box21, .box31{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box11 i, .box21 i, .box31 i{
    font-size: 4em;
    color: rgba(0,0,0,0.8);
    transition: all .4s;
}
.boxy .para, .boxy .para2{
    text-align: left;
}
.boxy .para, .boxy .para2{
    font-family: 'Niramit', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    color: #000;
}
.boxy .para2{
    font-weight: 400;
    font-size: 0.85em;
}
.boxy .para-span{
    color: #fff;
    font-weight: 400;
 
}
.boxy .footer{
    padding: 5px 10px;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* ustawianie maski na ikonach */
.mask{
    position: absolute;
    height: 72.5%;
    width: 96.8%;
    background: rgba(32, 81, 121, 0.644);
    opacity: 0;
    top: 1.5%;
    left: 1.5%;
    right: 0;
    bottom: 0;
    display: flex;
    transition: all .4s;
    z-index: 10;
    justify-content: center;
    align-items: center;
}
.boxy:hover .mask{
    opacity: 1;
}
.boxy:hover i{
    transform: scale(1.2);
}
.content{
    overflow: hidden;
    padding: 5px;
}
/* koniec maski */