.curr-tool-div{
    color: #fff;
    font-size: 0.9em;
    background-color: #999;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    line-height: 22px;
    margin: 5px 5px 2px 5px;
    position: relative;
}
.curr-tool-div:hover{
    background-color: #333;
    cursor: help;
}

/* tooltipy */
#mid-inner .tip-div, #currency-inner .tip-div{
    position: absolute;
    visibility: hidden;
    width: 160px;
    display: inline-block;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 2px 2px;
    z-index: 1;
    left: 90%;
    top: -60%;
    transition: 0.1s ease;
    font-size: 0.95em;
    font-weight: 100;
    text-align: center;
    color: #fff;
    
}
#mid-inner .curr-tool-div:hover .tip-div, #currency-inner .curr-tool-div:hover .tip-div{
    visibility: visible;
    
}

