.curr-tool-div{
    color: #fff;
    font-size: 0.9em;
    background-color: rgba(0,0,0,0.3);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    line-height: 22px;
    margin: 3px 5px;
    position: relative;
}
.get-data{
    text-align: center;
    padding: 10px 6px 6px 6px;
    color: #333;
    background-color: inherit;
}
.get-data span{
    font-family: 'Source Sans Pro', sans-serif;
}
button{
    padding: 2px 6px;
}
.l-out-g30 .get-data{
    margin-top: -2px;
}
.curr-tool-div:hover{
    background-color: #333;
}

/* tooltipy */
#mid-inner .tip-div{
    position: absolute;
    visibility: hidden;
    width: 140px;
    display: inline-block;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 2px 2px;
    z-index: 1;
    left: 100%;
    top: -70%;
    transition: 0.1s ease;
    font-size: 0.95em;
    font-weight: 100;
    text-align: center;
    color: #fff;
}
#mid-inner .curr-tool-div:hover .tip-div{
    visibility: visible;
}

