/* @media all and (max-width: 900px){
    .left.flex-width,
    .mid.flex-width,
    .right.flex-width,
    .currency.flex-width{
        flex-basis: 40%;
    }
} */
@media all and (min-width: 1800px){
    .container-flex{
        max-width: 1600px;
    }
}
@media all and (min-width: 901px){
    #news{
        align-items: center;
    }
}

@media all and (max-width: 900px){
    .left.flex-width,
    .mid.flex-width,
    .currency.flex-width,
    .news.flex-width{
        flex-basis: 40%;
        min-width: 325px;
        max-width: 325px;
    }
    #news .news-inner{
        width: 100%;
    }
    #news{
        margin-top: 0;
        align-items: unset;
        flex-direction: row;
    }
    #tab-container{
        width: 100%;
    }
}
@media all and (min-width: 401px) and (max-width: 699px){
    #container-flex{
        max-width: 400px;
    }
}

@media all and (max-width: 400px){
    #container-flex{
        min-width: 325px;   
    }
    
}