.container-message{
    display: flex;
    flex-direction: column;
    padding: 10px 8px;
}

/* INPUTY */
#username-div{
    display: flex;
    height: 40px;
}
input{
    font-weight: 400;
    font-size: 0.7em;
    color: #fff;
    line-height: 15px;
    padding: 5px 8px;
    background-color: rgba(0,0,0,0.6);
    outline: none;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
}
::placeholder{
    color: #fff;
    font-size: 1em;
}
input[type=text]{
    width: 160px;
}
input[type=submit]{
    width: 80px;
    margin-left: 0.4em;
    cursor: pointer;
}

/* POWITANIE */
#message{
    margin-top:;
    justify-content: center;
    justify-items: center;
    height: 60px;
    align-items: center;
}
#message{
    display: flex;
    flex: 1;
    max-width: 450px;
    margin-top: 30px;
}
#message span{
    margin: 5px;
    font-size: 2.4em;
    -webkit-text-stroke-width: 0.08rem;
    -webkit-text-stroke-color: #444;
}
#message-right{
    display: flex;
    flex-wrap: wrap;
}
