#container-info{
    padding: 6px 0px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    margin: 0 auto;
    /* flex: 1; */
}
/* #container-info:hover{
    background-color: rgba(85, 85, 85, 0.85);
} */
#container-info span{
    font-size: 0.66em;
    font-weight: 300;   
}

#left, #mid, #right{
    display: flex;
    flex-direction: column;
    margin: 0 3px;
    justify-content: center;
}
#left{
    height: 100%;
}
#mid{
    justify-content: center;
    align-content: center;
    align-items: center;
}
#mid #temp{
    display: flex;
    height: 66%;
    align-items: center;
    justify-content: center;
}
#right{
    margin-right: 0;
}
#city span, #temp-curr span, #temp-info span {
    font-size: 1em;    
}
#mid #temp span{
    font-size: 1.2em;
}







