.container-message{
    /* background-image: url(../img/img1.jpg); */
    /* background-image: url(../img/img4.jpg); */
    /* background-image: url(../img/img2.jpg); */
    /* background-image: url(../img/img13.jpg); */
    /* background-image: url(../img/img14.jpg); */
    display: flex;
    flex-direction: column;
    /* background-color: var(--box_color);
    border: var(--box_border); */
    padding: 10px 8px;
}

/* INPUTY */
#username-div{
    /* background-color: #aaa; */
    display: flex;
    height: 40px;
}
input{
    font-weight: 400;
    font-size: 0.7em;
    color: #fff;
    line-height: 15px;
    padding: 5px 8px;
    /* background-color: transparent; */
    background-color: rgba(0,0,0,0.4);
    outline: none;
    /* border: var(--box_border); */
    /* border-radius: 5px; */
    border: none;
    border-radius: 5px;
}
::placeholder{
    color: #fff;
    font-size: 1em;
}
input[type=text]{
    width: 160px;
}
input[type=submit]{
    width: 80px;
    margin-left: 0.4em;
    cursor: pointer;
}

/* POWITANIE */
.message{
    justify-content: center;
    justify-items: center;
    height: 60px;
    align-items: center;
}
.message{
    display: flex;
}
.message span{
    margin: 5px;
    margin-top: 10px;
    font-size: 2.1em;
    /* font-weight: 300; */
}
