
#btn-h, #btn-c{
    width: 100px;
    background-color: var(--box_color);
    color: #fff;
    border: var(--box_border);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    height: 40px;
    margin-right:10px;
    transition: all 0.4s;
}
#btn-h:hover, #btn-c:hover{
    background-color: rgba(85, 85, 85, 0.85);
}