.buttonDisabled{
    background-color: #999;
    color: #fff;
    border: 2px solid red;
}
.inputDisabled{
    border: 2px solid red;
}
.none{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.linear{
    background-image: linear-gradient(rgba(0,0,0,8), rgba(0,0,0,8));
}
.img{
    background-image: url('../img/img1.jpg');
}
