.buttonDisabled{
    background-color: #999;
    color: #fff;
    border: 2px solid red;
}
.inputDisabled{
    border: 2px solid red;
}
.none{
    visibility: hidden;
}
.visible{
    visibility: visible;
    font-weight: 400;
    background-color: rgba(0,0,0,0.4);  
}
