@import './box-container.css';
@import './container-events.css';
@import './pick-background.css';

:root{
    --box_color: rgba(85, 85, 85, 0.65);
    --box_border: 2px solid hsla(0, 0%, 100%, 0.6);
}
body, html{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #fff;
    /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/img14.jpg); */
    background-image: url(../img/img5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;
}
.container-flex{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Mitr', sans-serif;
    font-weight: 200;
}
#box-background{
    display: flex;
    flex-direction: column;
    width: 40%;
    /* margin: 0 auto; */
}
#container-events{
    display: flex;
    /* background-color: black; */
    height: 120px;
    width: 60%;
    /* margin: 0 auto; */
}



/* klasy dla js */
.buttonDisabled{
    background-color: #999;
    color: #fff;
    border: 2px solid red;
}
.inputDisabled{
    border: 2px solid red;
}

/* font-family: 'Mitr', sans-serif;
font-family: 'Martel Sans', sans-serif; */