#pick-background{
    background-color: var(--box_color);
    border: var(--box_border);
    /* border-bottom: 0; */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* justify-self: flex-start; */
    width: 240px; 
}
#pick-background span{
    font-size: 0.8em;
}
.far, .fas{ /* ikonka */
    line-height: 1.4;
    cursor: pointer;
    font-size: 1.2em;
    color: #ccc;
}