#container-box-bacground, #container-events{
    display: flex;
}
#container-box-background{
    flex-direction: column;
    /* margin-left: 5%; */
}
#container-events{
    justify-content: center;
    /* justify-items: center; */
    /* justify-self: center; */
    /* margin-left: 2%; */
}
#container-weather{
    /* width: 30%; */
}